{
  "plugins": [
    [
      "import",
      { 
        "libraryName": "antd-mobile",
        "style": true
      }
    ],
    // "@babel/plugin-syntax-dynamic-import",
    // "react-loadable/babel"
  ]
}