.normal-pad{
  display: block;
  padding: 8px 16px;
  font-size: 0;
  img{
    width: 100%;
  }
}
:global {
  .am-carousel{
    height: 128px !important;
  }
  .slider-frame{
    height: 128px !important;
  
  }
}