@import '../../../assets/styles/theme.less';
.normal-pad{
  display: block;
  padding: @hd*4  @hd*8;
  font-size: 0;
  img{
    width: 100%;
  }
}
.images{
    width: 100%;
    height: @hd*140;
    img{
      width: 100%;
      height: @hd*140;
    }
}
:global {
  .slider-frame{
    height: @hd*140 !important; 
  }
  
}